/* styles.css */
:root {
  margin: 0;
  gap: 0;
  box-sizing: border-box;
  --color: rgb(215, 215, 215);
  --backColor: rgb(36, 36, 36);
  --colorButtons: rgb(255, 133, 72);
  --colorButtonsHover: rgb(255, 105, 30);
}
body {
  color: var(--color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#content {
  min-width: 700px;
}
header {
  background-color: var(--backColor);
  min-width: 700px;
  display: flex;
  justify-content: right;
  
}
nav>ul {
  display: flex;
  gap: 3rem;
  margin-right: 100px;
  list-style-type: none;
}
nav>ul>li>button {
  width: 120px;
  height: 30px;
  border: none;
  background-color: var(--backColor);
  color: var(--color);
  font-size: 18px;
}
.hero {
  height: 70vh;  
  width: 100%;
  background-image: url("./images/main.jpg");
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;         
  color: white;     
  display: flex;
  justify-content: center;               
}
.heroContacts {
  height: 80vh;  
  width: 100%;
  background-image: url("./images/contact.jpg");
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;         
  color: white;     
  display: flex;
  justify-content: center;               
}
.main_info {
  width: 500px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}
.welcome, .name {
  font-size: 80px;
  font-weight: 900;
  text-shadow: 1px 1px 2px white;
  margin: 0;
}
.label {
  font-size: 20px;
  font-style: italic;
}
.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--backColor);
  display: flex;
  flex-direction: column;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70vw;
  align-self: center;
 

  gap: 2rem;
}
.footer_title {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.button {
  border-radius: 12px/15px;
  border: none;
  width: 130px;
  height: 35px;
  background-color: var(--colorButtons);
}

.button:hover {
  background-color: var(--colorButtonsHover);
}
.buttons {
  display: flex;
  gap: 40px;
}
.card {
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(74, 74, 74);
}
.card_head {
  font-weight: 700;
  font-size: 18px;
  background-color: rgb(34, 34, 34);
  border-radius: 12px/15px;
  text-align: center;
  min-width: 180px;
}
.card_body {
  padding: 0 10px 0 20px;
}


.container_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backColor);
}
.menu_frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 74, 74);
  border-radius: 15px/12px;
  margin: 30px;
  width: 800px;
}
.title_menu {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.block_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.block, h1 {
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.contacts {
  font-size: 80px;
  font-weight: 900;
  color: var(--colorButtonsHover);
  text-shadow: 1px 1px 2px white;
  margin-bottom: 30px;
}
.contInfo {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  color: var(--color);
}
.main_info > p:last-child {
  border-bottom: 1px solid var(--colorButtonsHover);
}